<div class="row">
  <div class="col-md-3" *ngFor="let usuario of usuarios">
    <div class="card mb-3" style="width: 17rem;">
      <img src="{{usuario.avatar_url}}" class="card-img-top" alt="{{usuario.login}}">
      <div class="card-body">
        <h5 class="card-title">{{usuario.login}}</h5>
        <a class="card-link" href="{{usuario.html_url}}" target="_blank">Página Usuario</a>
        <br>
        <a  [routerLink]="['/usuarios/repositorio',usuario.id]" style="cursor: pointer;" >Lista Repositorios</a>
      </div>
    </div>
  </div>
</div>